<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MotriFriends</title>
    <link rel="stylesheet" href="error.component.css">
    <meta name="viewport" content="widht=device-width, user-scalable=no, initial-scale=1.0, minium-scale=1.0">
</head>

<body>
    <div class="pagina">
    <div class="animacion_fondo">

        <div class="banner contenedor">
            <div class="cuerpo">
                <div class="boton"><br><br><br><br>
                 <h1>ERROR <br> 404</h1>
                </div>
            <div class="niño_img">
            <img src="https://images.vexels.com/media/users/3/152639/isolated/preview/506b575739e90613428cdb399175e2c8-space-astronaut-cartoon-by-vexels.png" alt="" width=auto height=auto>
            </div>
        </div>
        </div>
    </div>
</div>
</body>
</html>