<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="pcompras.component.css" rel="stylesheet" type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;600;700&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
</head>
<body>
    <header id="header">
        <h1 (click)="nav()" class="titulo">GamerShop</h1><img class="icono" src="https://images.emojiterra.com/twitter/v13.1/512px/1f3ae.png">
        <h1 id="nombre">{{Nombre}}</h1>
        <img (click)=" limpiar()" class="usuario" src="https://i.pinimg.com/originals/47/1a/1a/471a1ad342659289433e05a611d206f8.png">
    </header>

    <div class="container">
        <div class="row">
            <main id="items" class="col-sm-8 row" ></main>
            <aside class="col-sm-4">
                <h2  onclick="location.reload()">Carrito 🛒</h2> <h4 (click)="carrito()">📤</h4>
                <ul id="carrito" class="list-group" ></ul>
                <hr>
           
                <p class="text-right">Total: <span id="total"></span>&dollar;</p>
                <button id="boton-vaciar" class="btn btn-danger">Vaciar🗑️</button>
            </aside>
        </div>
    </div>
</body>
</html>